<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>

    <script type="text/javascript">
        var myapp = angular.module('myApp', ['ui.router']);
        myapp.controller('myController', function($scope){
            $scope.massage = "this is text massage";


            $scope.user = user;
            $scope.pass = pass;
        });

        myapp.config(function($stateProvider, $urlRouterProvider){
            $urlRouterProvider.otherwise('/',{
                    'url' : '/home',
                    'templateUrl' : 'index.html'
            })

            $stateProvider
                .state('menu-1',{
                    'url' : '/menu1',
                    'templateUrl' : 'menu-1.html'
                })
                .state('menu-2',{
                    'url' : '/menu2',
                    'templateUrl' : 'menu-2.html'
                })
                .state('menu-3',{
                    'url' : '/menu3',
                    'templateUrl' : 'menu-3.html'
                })
                .state('menu-4',{
                    'url' : '/menu4',
                    'templateUrl' : 'menu-4.html'
                })
                .state('menu-5',{
                    'url' : '/menu5',
                    'templateUrl' : 'menu-5.html'
                })
                .state('menu-6',{
                    'url' : '/menu6',
                    'templateUrl' : 'menu-6.html'
                })
        });
	</script>


    <style>
        ul li{
            display: inline-block;
        }
        ul li a{
            display: inline-block;
            background: #ff0000;
            color: #ffffff;
            padding: 10px;
            text-decoration: none;
        }
    </style>

  </head>


	<body ng-app="myApp" my-controller="myController">
        {{massage}}
        <ul>
            <li><a ui-sref="menu-1">Menu 1</a></li>
            <li><a ui-sref="menu-2">Menu 2</a></li>
            <li><a ui-sref="menu-3">Menu 3</a></li>
            <li><a ui-sref="menu-4">Menu 4</a></li>
            <li><a ui-sref="menu-5">Menu 5</a></li>
            <li><a ui-sref="menu-6">Menu 5</a></li>
        </ul>

        <div class="container">
            <ui-view>This is home page</ui-view>
            <forn>
                <input type="text" ng-model="user" />
                <input type="pass" ng-model="pass" />

                <input type="submit" ng-click="clickon" />
            </forn>
        </div>
	</body>
</html>