body {
  background-color: #fff; }
  body p {
    color: #ff0000; }
  body a {
    text-decoration: none; }
  body span {
    color: #fff; }

p.small {
  font-size: 10px; }

p.medium {
  font-size: 12px; }

body {
  background-color: #fff; }
  body p {
    color: #ff0000; }
  body a {
    text-decoration: none; }
  body span {
    color: #fff; }

p.small {
  font-size: 10px; }

p.medium {
  font-size: 12px; }

body {
  background-color: #fff; }
  body p {
    color: #ff0000; }
  body a {
    text-decoration: none; }
  body span {
    color: #fff; }

p.small {
  font-size: 10px; }

p.medium {
  font-size: 12px; }
