//HEARER SECTION

header{
	
}

.site-logo{
	img{
		width: 100%;
	}
}

.c-header{
	&__top{
		background-color: #000;
		padding: 5px 0;
	}
	&__middle{
		background-color: #3d3d3d;
    	padding: 20px 0;
	}
	&__bottom{
		background-color: #f2f2f2;
	}
}

.top-contact{
	ul{
		margin-bottom: 0px;
		li{
			display: inline-block;
			margin-right: 10px;
			a{
				font-size: 14px;
				color: #fff;
			}
		}
	}
}


.search-section{
	position: relative;
	input[type="text"]{
		border: none;
		border-radius: 0px;
	}
	.btn{
		background-color: #000;
	    padding: 5px 15px;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: 600;
	    position: absolute;
	    top: 0;
	    right: 0;
	    border-radius: 0px;
	    height: 40px;
	}
}