//HEARER SECTION

header{
	background-color: #022664;
	padding: 15px 0;
}

.site-logo{
	position: absolute;
	width: 100px;
	z-index: 2;
	left: 0;
    right: 0;
    margin: 0 auto;
    @include media-breakpoint(medium) {
    	left: auto;
	    right: auto;
	    margin: 0 auto;
    }
	img{
		width: 100%;
	}
}