.c-navigation{
	text-align: right;
	display: none;
	ul{
		margin-bottom: 0px;
		li{
			display: inline-block;
			padding: 0 25px;
			a{
				color: #fff;
			}
		}
	}
	@include media-breakpoint(medium) {
		display: block;
	}
}

.mobile-menu{
	a{
		color: #fff;
		font-size: 20px;
		i{
			color: #fff;
		}
	}
	@include media-breakpoint(medium) {
		display: none;
	}
}


