@font-face {
    font-family: 'EuropaGroNr1SHOP-Med';
    src: url('fonts/EuropaGroNr1SHOP-Med.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Med.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Med';
    src: url('fonts/EuropaGroNr1SHOP-Med.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Med.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Med';
    src: url('fonts/EuropaGroNr1SHOP-Med.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Med.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Med';
    src: url('fonts/EuropaGroNr1SHOP-Med.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Med.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Boo';
    src: url('fonts/EuropaGroNr1SHOP-Boo.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Boo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Lig';
    src: url('fonts/EuropaGroNr1SHOP-Lig.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Lig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Bol';
    src: url('fonts/EuropaGroNr1SHOP-Bol.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Bol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Bol';
    src: url('fonts/EuropaGroNr1SHOP-Bol.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Bol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Lig';
    src: url('fonts/EuropaGroNr1SHOP-Lig.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Lig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Lig';
    src: url('fonts/EuropaGroNr1SHOP-Lig.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Lig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Bol';
    src: url('fonts/EuropaGroNr1SHOP-Bol.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Bol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Lig';
    src: url('fonts/EuropaGroNr1SHOP-Lig.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Lig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropaGroNr1SHOP-Bol';
    src: url('fonts/EuropaGroNr1SHOP-Bol.woff2') format('woff2'),
        url('fonts/EuropaGroNr1SHOP-Bol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'radiant_urwmedium';
    src: url('fonts/urw_-_radianturw-med-webfont.woff2') format('woff2'),
         url('fonts/urw_-_radianturw-med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

