//Top Information Area
.main-wrapper{
	.main-content{
		padding-left: 0px;
		@include media-breakpoint(medium) {
			padding-left: 250px;
		}
	}
}

.main-wrapper-1{
	.section{
		.section-header{
			margin-left: -5px;
		}
	}
}

//Badge
.badge{
	font-size: 9px;
	border-radius: 3px;
	text-align: center;
	&.badge-primary{
		background: $primary;
		&.badge-outline{
			color: $primary;
			border-color: $primary;
		}
	}
	&.badge-outline{
		border: 1px solid $primary;
		background: transparent;
	}
}


//Badge
.badge{
  font-size: 9px;
  border-radius: 3px;
  text-align: center;
  &.badge-primary{
    background: $primary;
    &.badge-outline{
      color: $primary;
      border-color: $primary;
    }
  }
  &.badge-outline{
    border: 1px solid $primary;
    background: transparent;
  }
}



//Card Override
.card {
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
    .card-header{
        padding-top: 33px;
    	border-bottom: 0;
    	h4{
			line-height: normal;
			font-size: 20px;
			color: #2E3333;
    	}
    }
    .card-body{
	    padding-top: 0;
    }
}
 
//Mp Section
.c-location{
	min-height: 600px;
	/*background-image: url('./images/map.png');*/
}

.history-tab{
	.card-header{
	    .left,.right{
	    	display: flex;
	    }
    	.trigger{
    		.fas{
			    background: #E0E6EC;
			    width: 22px;
			    height: 22px;
			    text-align: center;
			    line-height: 23px;
			    border-radius: 50%;
    		}
	    	.fa-plus{
	    		display: inline-block;
	    	}
	    	.fa-minus{
	    		display: none;
	    	}
    	}
	    &.collapsed{
		    .trigger{
		    	.fa-minus{
		    		display: inline-block !important;
		    	}
		    	.fa-plus{
		    		display: none !important;
		    	}
		    }
	    }
		.circle{
		    background: #147DFC;
		    width: 50px;
		    height: 50px;
		    border-radius: 50%;
		    color: #fff;
		    text-align: center;
		    line-height: 51px;
		    font-weight: 400;
		    font-size: 17px;
		}
		.date{
			font-size: 16px;
			text-transform: capitalize;
			color: #606060;			
		}
		h2{
			padding-left: 10px;
			.c-tag{
				height: 28px;
    			line-height: 20px;
    			&:before{
				    height: 20px;
				    line-height: 13px;
    			}
			}
			i{
				color: #A5B3C1;
			}
		}
		.right{
    		padding-right: 10px;
			display: inline-block;
			label{
				font-size: 10px;
				letter-spacing: 0.07em;
				color: #A5B3C1;
				b{
					color: black;
					font-weight: bold;
					font-size: 12px;
				}
			}
		}
	}
	.card-body{
		.list{
			border-bottom: 1px solid #eeeeee;
			.card-header{
				cursor: pointer;
			    padding-top: 15px;
			}
			.card-body{
			    padding-bottom: 20px;
			}
		}
	}
}

//Diagnosis History
.diagnosis-history{
	.left{
		max-width: 100px;
	    padding-top: 4px;
	}
	.badge{
		width: 100%;
	}
	.list{
		display: flex;
		border-bottom: 1px solid #DADADA;
		padding-top: 15px;
		padding-bottom: 15px;
		&:last-child{
			border-bottom:0;
		}
		&:first-child{
			padding-top: 0;
		}
	}
	.right{
		padding-left: 10px;
		h3{
			margin-bottom: 0;
			font-size: 15px;
			color: #2E3333;
    		line-height: 22px;
		}
		p{
			margin-bottom: 0;
			font-size: 13px;
			color: #606060;
			.highlight{
				color: $primary;
			}
		}
	}
}

//visit History
.visit-history{
  h3{
  	font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    color: #606060;
  }
  .form-group{
    label{
        display: block;
        font-size: 10px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: #A5B3C1;
	    i {
	        font-size: 9px;
	        margin-left: 5px;
	    }
    }
  }
  .note{
    padding: 11px 15px;
    background: #F6F7FB;
    border-radius: 3px;
	line-height: 21px;
	font-size: 14px;
	font-weight: normal;
	color: #2E3333;
	margin-left: 0;
    margin-right: 0;
    .pull-left{
    	padding-left: 0;
    }
    .pull-right{
    	padding-right: 0;
    	text-align: right;
    }
  }
}


//Customize Table
.eyeconic-table{
	margin-bottom: 0px;
	font-weight: 500;
	thead{
		tr{
			th{
				background-color: $white !important;
				border-bottom: 2px solid #F8F8F8 !important;
				padding: 0 12px !important;
				@include media-breakpoint(tab-mini) {
					padding: 0 25px !important;
				}
			}
		}
	}
	tbody{
		tr{
			border-bottom: 2px solid #F8F8F8;
			td{
				img{
					&.rounded-circle{
						width: 40px;
    					height: 40px;
					}
				}
				padding: 0 12px !important;
				@include media-breakpoint(tab-mini) {
					padding: 0 25px !important;
				}
			}
			&:nth-child(even){
				background-color: #FAFCFF;
			}
			&:nth-child(odd){
				background-color: $white;
			}
		}
	}
}

.patient-record-table{
	.add-record-wrap{
		margin-top: 10px;
	    padding: 10px 10px;
	    .default-margin{
	    	align-items: center;
	    }
		p{
			font-weight: 500;
		    color: #8b9192;
		    margin-bottom: 0px;
		    span{
		    	color: #000;
		    }
		}
		.btn{
			margin: 0 3px;
		}
	}
}

.card-header{
	&--customize{
		padding-top: 20px;
		.btn{
			padding: 6px 25px !important;
		    margin-top: 0px !important;
		    margin-left: 10px;
		}
		.c-search{
    		.u-input{
    			border: 1px solid #f8f8f8;
    			border-radius: 42px !important;
    			height: 38px;
    			width: 100%;
    		}
    		button{
    			background-color: #ececec;
				border-radius: 50%;
				position: absolute;
			    right: 8px;
			    height: 27px;
			    top: 5px;
			    margin-left: 0;
    			padding: 0px 5px !important;
    			i{				    
    				font-size: 12px;				    
				    color: #2879D9;
    			}
    		}
    		&:after{
    			display: none;
    		}
		}
		.card-header-action{
			form{
				.c-search{
					.btn{
						padding: 0 6px !important;
						&:hover{
							i{
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}


.main-content{
	position: relative;
	padding-left: 250px;
	padding-right: 0px;
	padding-top: 65px;
	@include media-breakpoint(tab-mini) {
		padding-top: 70px;
	}
	&__inner{
		position: relative;
	}
}



/*Patient*/
.c-patientdetails{
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 20px;
	&__top{
		margin-top: 10px;
		margin-bottom: 15px;
		.personal-info{
			ul{
				display: flex;
				li{
					display: inline-block;
				    margin-right: 15px;
				    padding-right: 30px;
				    border-right: 1px solid #ddd;
				    min-width: 120px;
				    line-height: 20px;
					span{
						text-transform: uppercase;
						font-size: 12px;
						font-weight: 600;
						color: #A5B3C1;
					}
					p{
						font-weight: 600;
						margin-bottom: 0px;
						font-size: 15px;
						@include media-breakpoint(large) {
							font-size: 16px;
						}
					}
					&:last-child{
						border: none;
					}
				}
			}
		}


		.patient-name{
			margin-bottom: 25px;
			h2{
				display: inline-block;
				margin-bottom: 0;
    			vertical-align: middle;
			}
		}
	}
	&__btngrp{
		text-align: center;
		padding: 20px 0;
		@include media-breakpoint(tab-mini) {
			text-align: right;
			padding: 0 0;
		}
		button{
			margin: 0 3px;
			
		}
		.btn{
			&.btn-small{
				@include media-breakpoint(tab-mini) {
					padding: 5px 14px;
	    			font-size: 12px;
				}
				@include media-breakpoint(medium) {
					padding: 6px 20px;
	    			font-size: 14px;
				}
			}
		}
	}

	&.profile{
		.c-patientdetails__top{
			margin-top: 15px;
		}
		.patient-name{
			padding-left: 10px;
			margin-bottom: 0px;
		}
		&__top{
			.patient-name{
				h2{
					padding-top: 15px;
					margin-right: 15px;
				}
			}
		}

		.personal-info{
			margin-top: 10px;
		}
		.parient-desc{
			padding-left: 0px;
			h2{
				margin-right: 15px;
			}
			.btn-action{
				padding: 5px 10px;
				text-align: center;
			}
		}
	}
	&__bottom{
		> .row{
			> div{
				margin-bottom: 40px;
				@include media-breakpoint(medium) {
				    margin-bottom: 0px;
				}
			}
		}
	}
}

.found-record-list{
	display: none;
}


/*Patient Details Tab*/
.c-patientdetails__tab{
	height: calc( 100% - 77px );
	.nav-tabs{
		border-bottom: none;
		display: block;
    	text-align: left;
		li{
			margin: 0 14px;
			display: inline-block;
			a{
				padding: 5px;
				color: #2E3333;
				border-bottom: 2px solid transparent;
				font-weight: 500;
				&.active{
					border-bottom: 2px solid #3A88E4;
					color: #2E3333;
				}
			}
		}
	}
	&-content{
		padding: 30px;
		margin-top: 10px;
		min-height: 100%;
	}
}


/*Patient Balance*/
.c-patient{
	&__balance{
		.card{
			margin-top: 46px;
			min-height: 371px;
			&-body{
				position: relative;
			}
		}
	}
}


/*VPC Overview*/
.c-patientdetails__tab-content{
    padding:30px;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
	.tab-pane{
		padding:0; 
	}
	.card-header{
        padding: 0;
		padding-bottom: 15px;
        justify-content: space-between;
    	align-items: flex-start;
	    min-height: auto;
    	h3{
			font-size: 20px;
			margin-bottom: 0;
			color: #2E3333;
			span{
				font-family: $font-familly-regular;
				font-weight: normal;
				font-size: 10px;
				color: #2E3333;
				padding-left: 6px;
				a{
					text-decoration: underline;
					color:  #147DFC;
				}
			}
		}
	}
	.card-body{
		padding: 0;
	}
	.btn.border-blue{
	    font-size: 9px;
        padding: 1px 15px 1px 15px;
	    max-width: 122px;
	    min-width: auto;
	    font-weight: normal;
	    border: 1px solid #A5B3C1;
	    color: #657A8F;
	    &:hover{
	    	background-color:#A5B3C1 !important;
	    	color: #fff;
	    	border-width: 1px !important;	
	    }
	}
	.btn.btn-eligibility{
		background: #147DFC;
        padding: 1px 15px 1px 25px;
	    max-width: 122px;
	    min-width: auto;
		font-size: 9px;
		&:before{
		    font-size: 9px;
		    top: 6px;
		    width: 14px;
		    height: 14px;
		    left: 7px;
		    line-height: 16px;
		    padding: 0 2px;
		}
	}


	.form-group{
		label{
			display: block;
			font-family: $font-familly-regular;
			font-style: normal;
			font-weight: 900;
			line-height: normal;
			font-size: 10px;
			letter-spacing: 0.07em;
			text-transform: uppercase;
			color: #A5B3C1;
			@include media-breakpoint(large) {
				font-size: 12px;
			}
			i{
				font-size: 9px;
				margin-left: 5px;
			}
		}
		.label-text{
			width: 100%;
		    font-family: $font-familly-regular;
		    font-style: normal;
		    font-weight: 900;
		    line-height: normal;
		    letter-spacing: 0.07em;
		    text-transform: uppercase;
	        font-size: 14px ;
    		color: #2E3333 ;
		}
		.form-control{
			background: #F6F7FB;
			border-radius: 3px;
			border: 0;
		    padding: 10px 15px;
    		height: 36px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				font-size: 14px;
				color: #2E3333;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				font-size: 14px;
				color: #2E3333;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				font-size: 14px;
				color: #2E3333;
			}
			&:-moz-placeholder { /* Firefox 18- */
				font-size: 14px;
				color: #2E3333;
			}
		}
	}
}

.reset-content{
	display: flex;
	justify-content: center;
	align-items: center;
	&__inner{
		text-align: center;
		h4{
			margin-bottom: 30px;
		}

	}
	button{
		width: 180px;
		margin: 0 4px;
	}
}


/*Permission*/
.c-patient{
	&__permission{
		margin-top: 46px;
		h4{
			span{
				color: #D1D7DD;
				margin-left: 4px;
				cursor: pointer;
			}
		}
	}
}

                            
.edit-resources{
	padding-top: 30px;
	display: flex;
	
	.res-img{
		margin-right: 20px;
		img{
	    	height: 48px;
		}
	}
	.alert{
		padding: 8px 20px;
	    align-items: center;
	    display: flex;
    	width: auto;
    	i{
		    margin-right: 15px;
    		font-size: 30px;
    	}
    	span{
		  	font-size: 16px;
		    font-weight: 400;
    	}
    	&.alert-danger{
    		background: transparent;
    		border-color: transparent;
    		padding-left: 5px;
    		i{
    			color: #EB5757;
    		}
    		span{
    			color: #EB5757;
    		}
    	}
		&.alert-success{
			background: #F6F8FC;
			border: 1px solid #147DFC;
			border-radius: 6px;
			i{
			    color: #27AE60;
			}
			span{
			    color: #000;
			}
		}
	}
	.form-group{
		margin-bottom: 15px;
		&.has-error{
			.form-control{
				border: 1px solid #EB5757;
			}
		}
		.form-control{
			width: 100%;
			background: white;
			border: 1px solid #147DFC;
			font-size: 18px;
    		height: 48px;
		}
		
	}
	.input-field{
	    padding-right: 20px;
		.cols{
		    width: 250px;
		    padding: 0 15px 0 0;
		    .form-group{
		    	width: 100%;
		    	input{
			    	width: 100%;
		    	}
		    }
			&.password-field{
			    position: relative;
		    	width: calc(250px + 60px);
		    	.form-group{
			    	input{
			    		width:calc(100% - 60px)
			    	}
		    	}
		    	.toggle-password{
				    position: absolute;
					right: 35px;
				    top: 16px;
				    i{
				    	font-size: 18px;
				    	color: #333333;
				    }
		    	}
			}
		}
	}
	.loading-btn{
	    background: transparent;
	    border: 0;
        padding: 4px 30px;
	}
	.btn{
	    height: 48px;
	    font-size: 18px;
	    border-radius: 6px;
        background: #A1ABBE;
	    border-color: #A1ABBE;
	    box-shadow: none;
	}
}

#sortable-table{
	margin-bottom: 50px;
	tr:last-child {
		.remove-user-conf{
		    top: -50px;
		}
	}
}

@media(max-width: 768px){
	.edit-resources{
		flex-direction: column;
	}
}

@media(max-width: 479px){
	.edit-resources{
		.d-flex{
			flex-flow: column;
		}
		.res-img{
			margin-right: 0;
		}
		.input-field{
			padding-right: 0;
			.cols{
				width: 100%;
				padding-right: 0;
				&.password-field{
					width: 100%;
				}
			}
		}
	}
}


/*Firefox condition for modal*/
.firefox {
	.eligibility-parient-detail{
		.modal-dialog{
		 	.modal-body {
		 		.embed-frame-sec{
		 			overflow: auto;
					max-height: 380px;
		 		}
		 	}
		}
	}
}