// **************************************************************
// Structure
// **************************************************************


.c__clearboth{
    &:after,
    &:before{
        content: " ";
        width: 100%;
        display: block;
        clear: both;
    }
}