/* line 3, ../sass/layout/_footer.scss */
.c-footer {
  background-color: #272823;
}
.vertical-center {
    align-items: center;
}
/* line 5, ../sass/layout/_footer.scss */
.c-footer__top {
  padding: 50px 0;
  text-align: left;
}
/* line 8, ../sass/layout/_footer.scss */
.c-footer__bottom {
  background-color: #161614;
}
/* line 10, ../sass/layout/_footer.scss */
.c-footer__bottom p {
  color: #fff;
  text-align: left;
  padding: 10px 0;
}
/* line 19, ../sass/layout/_footer.scss */
.c-footer__content h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
  border-bottom: 1px dotted #626262;
  padding-bottom: 8px;
  font-weight: 500;
}
/* line 27, ../sass/layout/_footer.scss */
.c-footer__content p {
  font-size: 14px;
}
/* line 31, ../sass/layout/_footer.scss */
.c-footer__content ul li {
  vertical-align: top;
  text-align: left;
  line-height: 12px;
}
/* line 35, ../sass/layout/_footer.scss */
.c-footer__content ul li a {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
/* line 44, ../sass/layout/_footer.scss */
.c-footer__content .contact-address p {
  color: #fff;
  margin-bottom: 0px;
}
/* line 48, ../sass/layout/_footer.scss */
.c-footer__content .contact-address .phone-block {
  margin-top: 15px;
}

/* line 58, ../sass/layout/_footer.scss */
#newsletter-validate-detail .form-subscribe-header label {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 65, ../sass/layout/_footer.scss */
#newsletter-validate-detail .form-subscribe-body {
  position: relative;
}
/* line 67, ../sass/layout/_footer.scss */
#newsletter-validate-detail .form-subscribe-body input[type="email"] {
  width: 100%;
  line-height: 35px;
  padding: 4px 10px;
  border: none;
}
/* line 73, ../sass/layout/_footer.scss */
#newsletter-validate-detail .form-subscribe-body button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 13px;
  border: 0;
  background-color: #565656;
  color: #fff;
}
/* line 81, ../sass/layout/_footer.scss */
#newsletter-validate-detail .form-subscribe-body button i {
  font-size: 20px;
}

/* line 88, ../sass/layout/_footer.scss */
.c-copyright {
  margin-bottom: 0px;
}
/* line 90, ../sass/layout/_footer.scss */
.c-copyright p {
  margin-bottom: 0px;
  padding: 0 0;
  text-align: right;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}
/* line 97, ../sass/layout/_footer.scss */
.c-copyright p a {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}
/* line 101, ../sass/layout/_footer.scss */
.c-copyright p a:hover {
  color: #868C8D;
}

/* line 108, ../sass/layout/_footer.scss */
.bottom-inst {
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 500;
}

/* line 115, ../sass/layout/_footer.scss */
.social-icons ul {
  margin-bottom: 0px;
  line-height: 20px;
}
/* line 118, ../sass/layout/_footer.scss */
.social-icons ul li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 2px;
  line-height: 20px;
}
/* line 123, ../sass/layout/_footer.scss */
.social-icons ul li a {
  font-size: 28px;
  color: #fff;
}

/* line 132, ../sass/layout/_footer.scss */
.instruction-text {
  margin-top: 15px;
  font-style: italic;
  color: #fff;
  font-size: 12px;
}


.single-event{
  text-align: center;
  border: 1px solid #ddd;
  padding: 50px 30px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #ddd;
  margin-bottom: 30px;
}

.single-event i{
  font-size: 30px;
  margin-bottom: 20px;
      color: #022664
}

.home-slider-main{
  margin-bottom: -8px !important;
}

.home-slider-main .slick-dots{
  bottom: 25px !important;
}
.c-aboutus{
      padding: 80px 50px;
    text-align: center;
    background-color: #022664;
}
.c-aboutus h1{
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}
.c-aboutus h4{
  color: #fff;
  font-weight: 300;
  line-height: 35px;
}